<div ng-controller="MapCtrl">
  <ui-gmap-google-map id="map" options="map.options" center="map.center" zoom="map.zoom" bounds="map.bounds">
    <ui-gmap-marker ng-repeat="movieLocation in movieLocations"
                    idKey="movieLocation.id"
                    coords="movieLocation.coords"
                    click="selectLocation(movieLocation)"
                    options="{label: movieLocation.title}">
    </ui-gmap-marker>
  </ui-gmap-google-map>

  <div class="row">
    <div class="col-md-4">
      <div id="search-panel" class="input-group">
        <input type="text"
               ng-model="search"
               class="form-control"
               placeholder="Search for..."
               ng-change="loadSuggestions()"
               on-enter="searchMovies(suggestions)"
               autofocus>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="searchMovies(suggestions)">Go!</button>
        </span>
      </div>
      <ul class="list-group" ng-if="suggestions.length > 0">
        <button ng-repeat="suggestion in suggestions" type="button" ng-click="searchMovies([suggestion])" class="list-group-item">
          <span ng-if="suggestion.type != 'title'">{{suggestion.type}} <b>{{suggestion.phrase}}</b> in </span>
          <b>{{suggestion.title}}</b>
        </button>
      </ul>
      <div ng-if="suggestions.length == 0 && search.length > 2">
        <p> No results found for <b>{{search}}</b> </p>
      </div>
    </div>
  </div>

  <div id="location-details" ng-if="selectedMovieLocation" class="panel panel-default">
    <div class="panel-heading">
      <h3> {{selectedMovieLocation.title}} - {{selectedMovieLocation.year}} </h3>
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="selectLocation(null)"></span>
    </div>
    <div class="panel-body">
      <p> Address: {{selectedMovieLocation.address}} </p>
      <p>Starring: </p>
      <ul>
        <li ng-repeat="actor in selectedMovieLocation.actors">
          {{actor}}
        </li>
      </ul>
    </div>
  </div>

</div>


