/* app css stylesheet */

.angular-google-map-container, .angular-google-map {
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

.fill-y {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#search-panel {
  padding: 8px;
}

#location-details {
  position: absolute;
  right: 0;
  bottom: 0;
}
